<div class='row'>
    <div class='small-6 centered text-center'>
        <% if @error.blank? && @denied.blank? %>
        <h4>Success!</h4>
            <p>Thank you for indicating interest in <%=@loan['_LoanName'] %>.<BR>
                We will be in touch shortly to give you more information.<BR><BR>
                    If you don't hear from us in a timely manner please feel free to contact us directly at deals@fundingdatabase.com.
                
                </p>
        <% elsif @denied.blank? %>
        <h4>Something Went Wrong!</h4>
            <p>We don't know what, but whatever you were trying to do failed!</p>
         <% else%>       
        <h4>We're Sorry!</h4>
            <p>Your option on this loan has expired!<BR><BR>
                You may still be able to get more information on this loan if you contact us directly at deals@fundingdatabase.com.</p>                
         <% end %>
    </div>
</div>    
