<div class='row'>
	<div class="small-8 small-centered columns">

		<h2>Name Of Project</h2>
		  <%= abort(base_url) %>
		    <div class="field">
		   
		  </div>
		
		  


		  <div class="actions">
		    <%= f.submit "Sign up" %>
		  </div>
		  <% end %>
	</div>
</div>
