<% breadcrumb :root %>
<div class='row'>
	<div class="small-8 small-centered columns">
		<h1>Welcome to iDealView by Fundingdatabase.com</h1>
		<p>You probably should not be on this page.<BR> If you are it means something went wrong.
			<BR>Please contact us by sending an email to administrator@fundingdatabase.com if you would like to view any of our loans.</p>
	</div>
</div>
