.app-name-header{
  font-size:1.5em;
  font-style:italic;
  font-weight:bold;
  margin-left:30px;
  color:#444444;
}

.loan-heading{
	color:#888888;
}


.clearing-assembled .clearing-container .visible-img {
background: #000000 !important;

}

.highlight-field{
	margin-bottom:20px;
}

.bottom-space{
	margin-bottom:20px !important
}
.custom-info{
	margin-bottom:10px;
}
.tabs dd > a, .tabs .tab-title > a {
	padding: 1rem 1.5rem !important;
}

.even-row{
	background-color:#f2f2f2
}

.block-out{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, .8);
	z-index:100;
}

.nda-background{
	background:rgba(255,255,255, .8)
}
.header { background-color:#222222; color:#ffffff; float:left; width:100%; }
.page-title {color: #ffffff; margin:20px 0 30px; }
.lp-bg{ 
    background-image:url("../assets/lp-banner.jpg");
    background-size:100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height:350px;
    position: absolute;
    z-index: -1;
}
.navbar-toggle{display: none;}
.gray-box { background: #333333; color: #ffffff; padding: 20px; float:left; width:100%; margin-bottom: 20px; }
.gray-box h3{color: #ffffff; text-align: center;}
.hl-list { list-style:none; margin: 0; padding: 0; float:left; width:100%; }
.hl-list li { margin: 0; padding: 0; float:left; width:100%; border-bottom:1px solid #777777; margin-bottom:10px; }
.hl-l{max-width: 50%; color: #777777; }
.hl-r {  float: right; max-width: 50%; }
.l-sidebar .btn {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.btn-im-i{ background-color:#81b938; }
.btn-dec { background-color:#790d28; }

.lp-tabs-head { text-align: center; }
.lp-tabs-head > div { border-right:1px solid #eaeaea;  }
.lp-tabs-head > div:last-child { border: none;}
.lp-tabs-head > div .icon-r{ top:-20px; display: inline-block; position: relative; height: 0; }
.sbanner-wrap { border: 1px solid #eaeaea; border-radius: 4px; margin-bottom: 20px; background-color:#ffffff; }
.lp-th-title { color: #333333;  font-weight: 700; margin: 0; }
.white-content-box{border: 1px solid #eaeaea; border-radius: 4px; margin-bottom: 20px;}
.wcb-head { background-color: #eaeaea; padding: 12px 30px; color: #333333; font-size: 24px; line-height: 1; }
.wcb-content { padding: 25px 30px;  }
.add-files-outer{ border-bottom: 1px solid #eaeaea; margin-bottom: 20px; padding-bottom: 20px;}
.add-files-outer:last-child { border-bottom:none; margin-bottom:0px; padding-bottom: 0;}
.btn-gray {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1rem 0.5625rem 1rem;
    font-size: 1rem;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #fff;
}
.btn-gray:hover { background-color:#999999; color: #ffffff;  }

.uploaded-files { float: left; width: 100%; margin-bottom: 20px; position: relative; padding-right: 160px; }
.uf-btns { position: absolute; right:0; top: 0;}



/***********************************************
******************List Detail Page Style******************
**************************************************/

.list-detail-page .page-title{color:#333333; background-color:#f1f1f1; padding: 20px 0; text-align: left;  font-size: 30px; float: left; width: 100%; margin:0 0 20px; }
.list-detail-page .page-title h1 {margin: 0; font-size: 30px;}

button, .button{padding:.5rem 1rem 0.5625rem 1rem;}
.table-style-1 { width: 100%; margin-bottom: 40px; }
.add-listing-section { float: left; width: 100%; padding: 20px 0; }

/******************List Detail Page Style end******************/
