<div class='row'>
    <div class='small-6 centered text-center'>
        <% if @error.blank? && @denied.blank? %>
        <h4>We're sorry to hear that.</h4>
            <p>We understand you are not interested in this loan.<BR><BR>We have others that will be coming that may be a better fit. 
                If you are not receiving loans that are a good match for you try sending us updated information and we'll see what we can do.
                You can contact us at deals@fundingdatabase.com.
                 </p>
        <% elsif @denied.blank? %>
        <h4>Something Went Wrong!</h4>
            <p>We don't know what, but whatever you were trying to do failed!</p>
         <% else%>       
        <h4>Thank for responding.</h4>
            <p>Your option on this loan has already expired so there's nothing else for you to do.</p>                
         <% end %>
    </div>
</div>    
