<div class='row'>
    <div class='small-6 centered text-center'>
        <% if @error.blank? %>
        <h4>Success!</h4>
            <p><%=@loan['_LoanName'] %> is being kept for CPC.</p>
        <% else %>
        <h4>Something Went Wrong!</h4>
            <p>We don't know what, but whatever you were trying to do failed!</p>
         <% end %>
    </div>
</div>    
