<div style='max-height:75px;text-align:center'><img style='max-height:75px;width:auto;' src="https://s3-us-west-2.amazonaws.com/idealview/idealview-logo.png"></div>
<div style='text-align:center;border-bottom: 1px double #000000;padding:5px'>
</div>
<h3><%= @name %></h3>
<p style='margin-bottom:60px'>We have attached one or more loans we have submitted for your review. Check out each summary. Let us know which you have interested in and we'll give you access to our iDealView loan summary portal where you can review all the loan details and some of the docs you'll require.</p> 
<p>Your deal flow team at FundingDatabase</p>
<p>126 W. Sego Lily Dr | Suite 270 | Sandy, UT</p>
<p>(o) 855-724-3863</p>
<p>www.fundingdatabase.com</p>	
	