<style>
 .sortbtn
 {
 	width:153px;
 }
</style>
<div class="sort_buttons" style='margin-left:142px; margin-top:19px;'>
<% @url=url_for :controller=>'loans', :action=>'recent', :sort=>'desc' %>
<%= button_tag "Recent",  onclick:"callAjax('#{@url}','loan_records', 'all_loans' )", class: 'tiny button success sortbtn'%>

<% @url=url_for :controller=>'loans', :action=>'priority', :sort=>'ordering' %>
<%= button_tag "Priority",  onclick:"callAjax('#{@url}','loan_records', 'all_loans' )", class: 'tiny button success sortbtn'%>
</div>


<h3 class='text-center'>Current Loans</h3>
<div class='row' id="loan_records">
<%= render partial: 'all_loans'%>
</div>

 