<div style='max-height:75px;text-align:center'><img style='max-height:75px;width:auto;' src="https://s3-us-west-2.amazonaws.com/idealview/idealview-logo.png"></div>
<div style='text-align:center;border-bottom: 1px double #000000;padding:5px'>
</div>
<p>Hello Admin</p>

<p><%= @broker_email %> has been requested to access the loans of these brokers <%= @access_email %>.</p>
<p> <a href="http://idealview.us/brokers/allow_access/<%= @broker_id %>/<%= @sub_broker_id %>">Click here </a> to allow.</p>

